<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934352288228-ghbpkeat0j5tlvcnflt6p2a9usvrep52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934352288228-ghbpkeat0j5tlvcnflt6p2a9usvrep52</string>
	<key>API_KEY</key>
	<string>AIzaSyCm8OAohf4MNsuhOB16nAfMJ8MlAo2Vi-c</string>
	<key>GCM_SENDER_ID</key>
	<string>934352288228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.rsa3</string>
	<key>PROJECT_ID</key>
	<string>rsa4-a4195</string>
	<key>STORAGE_BUCKET</key>
	<string>rsa4-a4195.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934352288228:ios:5c84bfee2dbea82477eff1</string>
</dict>
</plist>